	
	/* Table Design*/
	/***************/
	table { 
		background:#D3E4E5;
		border:1px solid gray;
		border-collapse:collapse;
		color:#fff;
		font:normal 12px verdana, arial, helvetica, sans-serif;
	}
	
	caption { 
		border:1px solid #5C443A;
		color:#5C443A;
		font-weight:bold;
		letter-spacing:20px;
		padding:6px 4px 8px 0px;
		text-align:center;
		text-transform:uppercase;
	}
	
	td, th { 
		color:#363636;
	 	padding:.4em;
	}
	
	tr { 
		border:1px dotted gray;
	}
	
	thead th, tfoot th { 
		background:#5C443A;
		color:#FFFFFF;
		padding:3px 10px 3px 10px;
		text-align:left;
		text-transform:uppercase;
	}
	
	tbody td a { 
		color:#363636;
		text-decoration:none;
	}
	
	tbody td a:visited { 
		color:gray;
		text-decoration:line-through;
	}
	
	tbody td a:hover { 
		text-decoration:underline;
	}
	
	tbody th a { 
		color:#363636;
		font-weight:normal;
		text-decoration:none;
	}
	
	tbody th a:hover { 
		color:#363636;
	}
	
	tbody td+td+td+td a { 
		background-image:url('bullet_blue.png');
		background-position:left center;
		background-repeat:no-repeat;
		color:#03476F;
		padding-left:15px;
	}
	
	tbody td+td+td+td a:visited { 
		background-image:url('bullet_white.png');
		background-position:left center;
		background-repeat:no-repeat;
	}
	
	tbody th, tbody td { 
		text-align:left;
		vertical-align:top;
	}
	
	tfoot td { 
		background:#5C443A;
		color:#FFFFFF;
		padding-top:3px;
	}
	
	.odd { 
		background:#fff;
	}
	
	tbody tr:hover { 
		background:#99BCBF;
		border:1px solid #03476F;
		color:#000000;
	 }
	 

	/* ******Menue***** */
	/* Some stylesheet reset */
	ul#cssmenu > ul, #cssmenu > ul ul {
		list-style: none;
		margin: 0;
		padding: 0;
		vertical-align: baseline;
		line-height: 1;
	}

	/* The container */
	#cssmenu > ul, #cssmenu > ul ul {
		display: block;
		position: relative;
		width: 150px;
	}
	
	/* The list elements which contain the links */
	#cssmenu > ul li {
		display: block;
		position: relative;
		margin: 0;
		padding: 0;
		width: 150px;	
	}
	
	/* General link styling */
	#cssmenu > ul li a {
		/* Layout */
		display: block;
		position: relative;
		margin: 0;
		border-top: 1px dotted #3a3a3a;
		border-bottom: 1px dotted #1b1b1b;
		padding: 11px 20px;
		width: 110px;
	
		/* Typography */
		font-family: 'Yanone Kaffeesatz', Helvetica, Arial, sans-serif;
		color: #d8d8d8;
		text-decoration: none;
		text-transform: uppercase;
		text-shadow: 0 1px 1px #000;
		font-size: 13px;
		font-weight: 300;
	
		/* Background & effects */
		background: #282828;
	}

	/* Rounded corners for the first link of the menu/submenus */
	#cssmenu > ul li:first-child>a {
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		border-top: 0;
	}
	
	/* Rounded corners for the last link of the menu/submenus */
	#cssmenu > ul li:last-child>a {
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
		border-bottom: 0;
	}
	
	
	/* The hover state of the menu/submenu links */
	#cssmenu > ul li>a:hover, #cssmenu > ul li:hover>a {
		color: #fff;
		text-shadow: 0 1px 0 rgba(0, 0, 0, .3);
		background: #d4b800;
		background: -webkit-linear-gradient(bottom, #d4b800, #f6d600);
		background: -ms-linear-gradient(bottom, #d4b800, #f6d600); 
		background: -moz-linear-gradient(bottom, #d4b800, #f6d600);
		background: -o-linear-gradient(bottom, #d4b800, #f6d600);
		border-color: transparent;
	}
	
	/* The arrow indicating a submenu */
	#cssmenu > ul .has-sub>a::after {
		content: '';
		position: absolute;
		top: 16px;
		right: 10px;
		width: 0px;
		height: 0px;
	
		/* Creating the arrow using borders */
		border: 4px solid transparent;
		border-left: 4px solid #d8d8d8; 
	}
	
	/* The same arrow, but with a darker color, to create the shadow effect */
	#cssmenu > ul .has-sub>a::before {
		content: '';
		position: absolute;
		top: 17px;
		right: 10px;
		width: 0px;
		height: 0px;
	
		/* Creating the arrow using borders */
		border: 4px solid transparent;
		border-left: 4px solid #000;
	}
	
	/* Changing the color of the arrow on hover */
	#cssmenu > ul li>a:hover::after, #cssmenu > ul li:hover>a::after {
		border-left: 4px solid #fff;
	}
	
	#cssmenu > ul li>a:hover::before, #cssmenu > ul li:hover>a::before {
		border-left: 4px solid rgba(0, 0, 0, .3);
	}
	
	
	/* THE SUBMENUS */
	#cssmenu > ul ul {
		position: absolute;
		left: 150px;
		top: -9999px;
		padding-left: 5px;
		opacity: 0;
		/* The fade effect, created using an opacity transition */
		-webkit-transition: opacity .3s ease-in;
		-moz-transition: opacity .3s ease-in;
		-o-transition: opacity .3s ease-in;
		-ms-transition: opacity .3s ease-in;
	}
	
	/* Showing the submenu when the user is hovering the parent link */
	#cssmenu > ul li:hover>ul {
		top: 0px;
		opacity: 1;
	}
	

	/* Vando Menue */
	/****************/
	#menu8 {
		width: 200px;
		padding-top: 1px;
		margin-top: 10px;
	}
		
	#menu8 li a {
		text-decoration: none;
		height: 32px;
	  	voice-family: "\"}\""; 
	  	voice-family: inherit;
	  	height: 24px;
	}
		
	#menu8 li a:link, #menu8 li a:visited {
		color: #777;
		display: block;
		background: url(images/menu7.gif) no-repeat;
		padding: 8px 0 0 20px;
	}
		
	#menu8 li a:hover {
		color: #257EB7;
		background: url(images/menu7.gif) no-repeat 0 -32px;
		padding: 8px 0 0 25px;
	}
		
	#menu8 li a:active {
		color: #fff;
		background: url(images/menu7.gif) no-repeat 0 -64px;
		padding: 8px 0 0 25px;
	}
	
	#menu8 ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	
	/* Dynamischer Content */
	/***********************/
	#footerwrap2 {
	    width: 820px;
	    margin: 5 auto;
		clear: both;
		float:right;
	}
		
	#footer2 {
	    height: 40px;
	    background: #191970;
	    border-radius: 10px;
	    border: 1px solid #191970;
	    margin: 5px;
	}

	#inhalt {
		background: #4682b4; 
		margin: -1px; 
		border-radius: 10px; 
		border: 1px solid #4682b4; 
		padding: 20px
	}
	
	
	/* Imprint */
	/***********/
	#imprint{
		float:left; 
		height:946px; 
		padding-left: 20px; 
		padding-right: 20px;
		background: #4682b4;
	    border: 1px solid #4682b4;
	    border-radius: 10px 10px 10px 10px;
	    height: 940px;
	    width: 768px;		
	}

	
	/* Links */
	/*********/
	a:link {
		font-family:Arial,Verdana,Helvetica;
		font-size:10pt;
		font-weight:500;
		color:#FFFFFF;
	}
		
	a:visited {
		font-family:Arial,Verdana,Helvetica;
		font-size:10pt;
		font-weight:500;
		color:#FFFFFF;
	}
		
	a:active {
		font-family:Arial,Verdana,Helvetica;
		font-size:10pt;
		font-weight:500;
		color:#FFFFFF;
	}
		
	a:hover {
		font-family:Arial,Verdana,Helvetica;
		font-size:10pt;
		font-weight:500;
		color:#FFFFFF;
	}
	
	
	/* Überschrift */
	/***************/
	h1{
		text-align: center;
	}
	
	
	p {
	    padding: 10px;
	}
	
	#clear {    
		clear: both;
	}    
	
	