<body>
	
	<p> Username <br/> <input type="text" name="name" /></p>
	<!--<p><input type="submit" /></p>-->
	<p> Password <br/> <input type="text" passwd="passwd"/></p>
	
	<p><input type="submit" value = "Login" /></p>
	
	 <li><a href="wtprojekt\dictro\application\views\scripts\home.php">Home</a></li>
	 
	 <li><a href="wtprojekt\dictro\application\views\scripts\game.php">Game</a></li>
	
	 <li><a href="wtprojekt\dictro\application\views\scripts\highscore.php">Highscore</a></li>
	
	 <li><a href="wtprojekt\dictro\application\views\scripts\contact.php">Contact</a></li>
	
	 <li><a href="wtprojekt\dictro\application\views\scripts\impressum.php">Impressum</a></li>
	 
	
</body>